{{define "title"}}Money Account{{end}}

{{define "main"}}
    <h2>Account</h2>
    {{with .Account}}
        <table>
            <tr>
                <th>Name</th>
                <td>{{.AccountName}}</td>
            </tr>
            <tr>
                <th>Balance</th>
                <td>{{.DisplayBalance}}</td>
            </tr>
            <tr>
                <!-- Add a link to the change password form -->
                <th>Add Transaction</th>
                <td><a href= "/">Add</a></td>
            </tr>
            <tr>
                <th> Rebalance Account </th>
                <td><a href='/account/rebalance/{{.ID}}'>Rebalance</a></td>
            </tr>
        </table>
    {{end}}
{{end}}
