{{define "title"}} Transactions {{end}}

{{define "main"}}
    <div class="title-group mb-3">
        <h1 class="h2 mb-0">Transactions</h1>
    </div>

    <div class="row my-4">
        <div class="col-lg-4 col-12">
            <div class="custom-block bg-white">
                <form method="GET" action="/transactions" class="custom-form" >
                    <div class="d-flex flex-column">
                        <label for="start-date">Start Date:</label>
                        <input class="form-control form-control-sm" type="date" id="start-date" name="start-date" value="{{.DateFilter.startDate | htmlDate}}">
                        <label for="end-date">End Date:</label>
                        <input class="form-control form-control-sm" type="date" id="end-date" name="end-date" value="{{.DateFilter.endDate | htmlDate}}">
                    </div>
                    <button type="submit" class="form-control ms-2">Filter</button>
                </form>
            </div>
        </div>
        {{with .UserTotalReport}}
        <div class="col-lg-4 col-12">
            <div class="custom-block bg-white">
                <div class="">
                    <h3>EUR Balance</h3>
                    <div class="d-flex flex-column">
                        <span>Income: {{formatFloat .IncomeEur}}€</span>
                        <span>Expense: {{formatFloat .ExpenseEur}}€</span>
                    </div>
                    <progress id="progress-eur" value="{{.ProgressEur}}" max="100"> </progress>
                    <div>
                    <span>{{.ProgressEur}}% Spent </span>
                    </div>
                </div>

                <div class="">
                    <h3>RSD Balance</h3>
                    <div class="d-flex flex-column">
                        <span>Income: {{formatFloat .IncomeRsd}} RSD</span>
                        <span>Expense: {{formatFloat .ExpenseRsd}} RSD</span>
                        <progress id="progress-rsd" value="{{.ProgressRsd}}" max="100"> </progress>
                        <span>{{.ProgressRsd}}% Spent </span>
                    </div>
                </div>
           </div>
        </div>
        {{end}}

        <div class="col-lg-4 col-12">
            <div class="custom-block custom-block-bottom d-flex flex-wrap">
                <div class="custom-block-bottom-item">
                    <a href="/transaction/create/income" class="d-flex flex-column">
                        <i class="custom-block-icon bi-arrow-down"></i>
                        <small>New Income</small>
                    </a>
                </div>

                <div class="custom-block-bottom-item">
                    <a href="/transaction/create/expense" class="d-flex flex-column">
                        <i class="custom-block-icon bi-arrow-up"></i>
                        <small>New Expense</small>
                    </a>
                </div>

                <div class="custom-block-bottom-item">
                    <a href="/transfer/create" class="d-flex flex-column">
                        <i class="custom-block-icon bi-arrow-down-up"></i>
                        <small>Transfer</small>
                    </a>
                </div>

                <div class="custom-block-bottom-item">
                    <a href="/transfers" class="d-flex flex-column">
                        <i class="custom-block-icon bi-card-list"></i>
                        <small>Transfers</small>
                    </a>
                </div>
            </div>

        </div>
        <div class="col-lg-12 col-12">
            {{if .ExpenseTransactions}} 
            <div class="custom-block bg-white">
                <h5 class="mb-4">Expense Activities</h5>

                <div class="table-responsive">
                    <table id="expense-table" class="account-table table">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>

                                <th scope="col">Amount</th>

                                <th scope="col">Category</th>

                                <th scope="col">Description</th>

                            </tr>
                        </thead>

                        <tbody>
                            {{range .ExpenseTransactions}}
                            <tr>
                                <td scope="row">{{.DisplayDate}}</td>

                                <td scope="row">{{.DisplayAmount}}</td>

                                <td scope="row">{{.Category}}</td>

                                <td scope="row">{{.Description}}</td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                </div>

                <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center mb-0">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">Prev</span>
                                </a>
                            </li>

                            <li class="page-item active" aria-current="page">
                                <a class="page-link" href="#">1</a>
                            </li>
                            
                            <li class="page-item">
                                <a class="page-link" href="#">2</a>
                            </li>
                            
                            <li class="page-item">
                                <a class="page-link" href="#">3</a>
                            </li>

                            <li class="page-item">
                                <a class="page-link" href="#">4</a>
                            </li>
                            
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">Next</span>
                                </a>
                            </li>
                        </ul>
                </nav>
            </div>
            {{end}}
            {{if .IncomeTransactions}}
            <div class="custom-block bg-white">
                <h5 class="mb-4">Income Activities</h5>

                <div class="table-responsive">
                    <table id="income-table" class="account-table table">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>

                                <th scope="col">Amount</th>

                                <th scope="col">Category</th>

                                <th scope="col">Description</th>

                            </tr>
                        </thead>

                        <tbody>
                            {{range .IncomeTransactions}}
                            <tr>
                                <td scope="row">{{.DisplayDate}}</td>

                                <td scope="row">{{.DisplayAmount}}</td>

                                <td scope="row">{{.Category}}</td>

                                <td scope="row">{{.Description}}</td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                </div>

                <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center mb-0">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">Prev</span>
                                </a>
                            </li>

                            <li class="page-item active" aria-current="page">
                                <a class="page-link" href="#">1</a>
                            </li>
                            
                            <li class="page-item">
                                <a class="page-link" href="#">2</a>
                            </li>
                            
                            <li class="page-item">
                                <a class="page-link" href="#">3</a>
                            </li>

                            <li class="page-item">
                                <a class="page-link" href="#">4</a>
                            </li>
                            
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
            </div>
            {{end}}
        </div>
    </div>
    {{template "footer" .}}
{{end}}

{{define "javascript"}}
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/custom.js"></script>
{{end}}
