{{define "title"}}New Transaction{{end}}

{{define "main"}}
<form action= '/transaction/create/' method= 'POST'>
    <h2>
        {{if (eq .Form.TransactionType 0)}}New Income Transaction{{end}}
        {{if (eq .Form.TransactionType 1)}}New Expense Transaction{{end}}
    </h2>
    <div>
        <label for="category">Account:</label>
        <select name="account" id="account">
            {{ range .Accounts }}
            <option value="{{ .ID }}">{{ .AccountName }} - {{.Currency}}</option>
            {{ end }}
        </select>
    </div>
    <div>
        <label>Date:</label>
        {{with .Form.FieldErrors.date}}
            <label class='error'> {{.}}</label>
        {{end}}
        <input type= 'date' name= 'date' value='{{if .Form.Date}}{{.Form.Date}}{{ else }}{{.DateString}}{{end}}'>
    </div>
    <div>
        <label>Amount:</label>
        {{with .Form.FieldErrors.amount}}
            <label class='error'> {{.}}</label>
        {{end}}
        <input id='amount' type='number' value='1000' name= 'amount' value='{{.Form.Amount}}'>
    </div>
    <div>
        <label for="category">Choose a category:</label>
        {{with .Form.FieldErrors.category}}
            <label class='error'> {{.}}</label>
        {{end}}
        <select name="category" id="category">
            {{ range .Categories }}
                <option value="{{ . }}">{{ . }}</option>
            {{ end }}
        </select>
    </div>
    <div>
        <label>Description:</label>
        {{with .Form.FieldErrors.description}}
            <label class='error'> {{.}}</label>
        {{end}}
        <input type= 'text' name= 'description' value='{{.Form.Description}}'>
    </div>
    <div>
        <input type='hidden' name= 'txtype' value='{{.Form.TransactionType}}'>
    </div>
    <div>
        <input type= 'submit' value= 'Create Transaction'>
    </div>
</form>
{{end}}
