{{define "title"}}Create Transfer{{end}}

{{define "main"}}
    <div class="row my-4">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-4 col-12">
            <div class="custom-block mt-4 pt-4 bg-white">
            {{template "transfer-create-form" .}}
            </div>
        </div>
    </div>
{{end}}

{{define "javascript"}}
<!-- JAVASCRIPT FILES -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/custom.js"></script>
<script src="/static/js/main.js"></script>
{{end}}
