{{define "title"}}Home{{end}}

{{define "main"}}
    <form method="GET" action="/transactions" class="filter-form">
        <div class="date-filters">
            <label for="start-date">Start Date:</label>
        <input type="date" id="start-date" name="start-date" value="{{.DateFilter.startDate | htmlDate}}">
            <label for="end-date">End Date:</label>
            <input type="date" id="end-date" name="end-date" value="{{.DateFilter.endDate | htmlDate}}">
        </div>
        <button type="submit" class="filter-button">Filter</button>
    </form>
    {{with .UserTotalReport}}
        <div class="centered-div"> 
            <h3> Balance for current month </h3>
        </div>
        <div class="balance-container">
            <div class="balance-card">
                <h3>EUR Balance</h3>
                <div class="values">
                    <span>Income: {{formatFloat .IncomeEur}}€</span>
                    <span>Expense: {{formatFloat .ExpenseEur}}€</span>
                </div>
                <progress id="progress-eur" value="{{.ProgressEur}}" max="100"> </progress>
                <div>
                <span>{{.ProgressEur}}% Spent </span>
                </div>
            </div>

            <div class="balance-card">
                <h3>RSD Balance</h3>
                <div class="values">
                    <span>Income: {{formatFloat .IncomeRsd}} RSD</span>
                    <span>Expense: {{formatFloat .ExpenseRsd}} RSD</span>
                </div>
                <progress id="progress-rsd" value="{{.ProgressRsd}}" max="100"> </progress>
                <div>
                <span>{{.ProgressRsd}}% Spent </span>
                </div>
            </div>
        </div>
    {{end}}
    {{if .ExpenseTransactions}} 
        <div class="home-page-transactions">
            <h2>Expense Transactions</h2>
            <a href='/transaction/create/expense' class="new-transaction-button">New Expense</a>
            <table>
                <tr>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Category</th>
                    <th>Description</th>
                </tr>
                {{range .ExpenseTransactions}}
                <tr>
                    <td>{{.DisplayDate}}</td>
                    <td>{{.DisplayAmount}}</td>
                    <td>{{.Category}}</td>
                    <td>{{.Description}}</td>
                </tr>
                {{end}}
            </table>
        </div>
    {{else}}
        <div class="home-page-transactions">
            <a href='/transaction/create/expense' class="new-transaction-button">New Expense</a>
        </div>
    {{end}}
    {{if .IncomeTransactions}} 
        <div class="home-page-transactions">
            <h2> Income Transactions </h2>
            <a href='/transaction/create/income' class="new-transaction-button">New Income</a>
            <table>
                <tr>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Category</th>
                    <th>Description</th>
                </tr>
                {{range .IncomeTransactions}}
                <tr>
                    <td>{{.DisplayDate}}</td>
                    <td>{{.DisplayAmount}}</td>
                    <td>{{.Category}}</td>
                    <td>{{.Description}}</td>
                </tr>
                {{end}}
            </table>
        </div>
    {{else}}
        <div class="home-page-transactions">
            <a href='/transaction/create/income' class="new-transaction-button">New Income</a>
        </div>
    {{end}}
{{end}}
