{{define "title"}}New Transfer{{end}}

{{define "main"}}
<div id="transfer-content">
    <form hx-post="/transfer/create/" hx-swap="innerHTML" hx-target="#transfer-content">
        <h2>
            New Transfer Transaction
        </h2>
        <div>
            {{with .Form.FieldErrors.from}}
                <label class='error'> {{.}}</label>
            {{end}}
            <label for="category">From:</label>
            <select name="from" id="from">
                {{ range .Accounts }}
                <option value="{{ .ID }}">{{ .AccountName }} - {{.Currency}}</option>
                {{ end }}
            </select>
        </div>
        <div>
            {{with .Form.FieldErrors.to}}
                <label class='error'> {{.}}</label>
            {{end}}
            <label for="category">To:</label>
            <select name="to" id="to">
                {{ range .Accounts }}
                <option value="{{ .ID }}">{{ .AccountName }} - {{.Currency}}</option>
                {{ end }}
            </select>
        </div>
        <div>
            <label>Date:</label>
            {{with .Form.FieldErrors.date}}
                <label class='error'> {{.}}</label>
            {{end}}
            <input type= 'date' name= 'date' value='{{if .Form.Date.IsZero}}{{.DateStringNow}}{{ else }}{{htmlDate .Form.Date}}{{end}}'>
        </div>
        <div>
            <label>Amount:</label>
            {{with .Form.FieldErrors.amount}}
                <label class='error'> {{.}}</label>
            {{end}}
            <input id='amount' type='number' value='1000' name= 'amount' value='{{.Form.FromAmount}}'>
        </div>
        <div>
            <input type='hidden' id='confirm' name='confirm' value='false'>
            <input type= 'submit' value= 'Create Transaction'>
        </div>
    </form>
</div>
{{end}}
