{{define "title"}}User Profile{{end}}

{{define "main"}}
    <div class="accounts">
    <h2>Your Accounts</h2>
    <a href='/account/create' class="new-account-button"> New Account </a>
    {{if .Accounts}}
        <div class="accounts-grid">
            {{range .Accounts}}
                <a href='/account/view/{{.ID}}'>
                    <div class="account-card">
                        <div class="account-info">
                            <div class="account-name">{{.AccountName}}</div>
                            <div class="account-balance">{{.DisplayBalance}}</div>
                        </div>
                    </div>
                </a>
            {{end}}
        </div>
    {{end}}
    </div>

    <h2>Your Profile</h2>
    {{with .User}}
        <table>
            <tr>
                <th>Name</th>
                <td>{{.Name}}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{.Email}}</td>
            </tr>
            <tr>
                <th>Joined</th>
                <td>{{humanDate .Created}}</td>
            </tr>
            <tr>
                <!-- Add a link to the change password form -->
                <th>Password</th>
                <td><a href= "/user/password/update">Change password</a></td>
            </tr>
        </table>
    {{end}}
{{end}}
