{{define "transfer-confirm"}}
<form class="custom-form profile-form" hx-post="/transfer/create/" hx-swap="none">
    <h4>
        Confirm Transfer Transaction
    </h4>
    <div >
        <p> 
            You are about to transfer {{.Form.FromAmount}} {{.Form.FromAcc.Currency.String}}
        </p> 
        <p>From {{.Form.FromAcc.AccountName}} </p>
        <input class="form-control" type='hidden' value='{{.Form.FromAcc.ID}}' name='from' id='from' > 
        <input class="form-control" id='amount' type='hidden' value='{{.Form.FromAmount}}' name= 'amount'>
    </div>
    <div>
        <p> To {{.Form.ToAcc.AccountName}} </p>
        <p> Which will receive {{.Form.ToAmount}} {{.Form.ToAcc.Currency.String}}. </p>
        <input class="form-control" type='hidden' value='{{.Form.ToAcc.ID}}' name='to' id='to' readonly hidden> 
    </div>
    <div>
        <label>On Date:</label>
        <input class="form-control" type='date' name='date' value='{{htmlDate .Form.Date}}' readonly>
    </div>
    <div>
        <input class="form-control" type='hidden' id='confirm' name='confirm' value='true'>
    </div>
    <button type= 'submit' class="form-control ms-2"> Confirm Transfer </button>
</form>
{{end}}
